<ul class="share-buttons">
<hr>
If you like this post, please share it on:
  <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ page.title }}: {{ site.url }}{{ page.url }}&via={{ site.data.theme.social.twitter }}" target="_blank" title="Tweet"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
  <li><a href="http://service.weibo.com/share/share.php?url={{ site.url }}{{ page.url }}&appkey=&title=分享下@{{ site.data.theme.social.weibo }} 的文章: {{ page.title }}&pic=&ralateUid=&language=zh_cn" target="_blank" title="Weibo"><i class="fa fa-weibo fa-lg" aria-hidden="true"></i></a></li>
  <li><a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit fa-lg" aria-hidden="true"></i></a></li>
  <li><a href="mailto:?subject={{ page.title }}&body={{ site.url }}{{ page.url }}" target="_blank" title="Send email"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
</ul>
